{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./tsconfig.json", "./tsconfig.eslint.json"]
  },
  "root": true,
  "plugins": ["@typescript-eslint", "react-hooks", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
    //"prettier/@typescript-eslint"
  ],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "no-console": "off",
    "import/first": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/exhaustive-deps":"off",
    "@typescript-eslint/no-explicit-any":"off",
    "@typescript-eslint/ban-types":"off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars":"off",
 //   "@typescript-eslint/no-empty-function": "off",
    "react/jsx-tag-spacing": ["error", { "beforeSelfClosing": "always" }],
    "prettier/prettier": 0
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "ignorePatterns": [".eslingrc.json"]
}
